body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Set the body height to full viewport height */
}

.container {
    display: flex;
    height: 100%; /* Set the container height to full body height */
    background-color: gray;
}
.admin-newsand-updates-light-admin-newsand-updates-light {
    width: 100%;
    height: 1524px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: gray;
  }
  .admin-newsand-updates-light-text04 {
    top: 19px;
    left: 390px;
    color: white;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: Regular;
    text-align: left;
    font-family: Prompt;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
.admin-newsand-updates-light-menuboar-variant3 {
  top: 0px;
  left: 0px;
  width: 354px;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #374045;
}
.admin-newsand-updates-light-frame208 {
    top: 0px;
    left: 0px;
    width: 354px;
    height: 161px;
    display: flex;
    overflow: hidden;
    position: absolute;

    align-items: flex-start;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0 0 1px;
    border-radius: 0 0 15px 15px;
    background-color: white;
  }

  .admin-newsand-updates-light-frame1 {
    top: 20px;
    left: 43px;
    width: 269px;
    height: 121px;
    position: absolute;
  }
  .admin-newsand-updates-light-text72 {
    top: 1431px;
    left: 109px;
    color: rgba(238, 243, 244, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Prompt;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .admin-newsand-updates-light-text74 {
    top: 1453px;
    left: 111px;
    color: rgba(238, 243, 244, 1);
    height: auto;
    opacity: 0.60;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Prompt;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100%; /* Set the sidebar height to full container height */
}

.sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.content {
    flex: 2;
    padding: 50px;
}

