<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SRDP - HOME</title>
    <link href="../CSS/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="admin-newsand-updates-light-admin-newsand-updates-light">      
        <div class="admin-newsand-updates-light-text04">
            <span>Home</span>
        </div>
        <div class="admin-newsand-updates-light-menuboar-variant3">
            <div class="admin-newsand-updates-light-frame208">
                <img src="../Images/logoblack.svg" alt="LOGO" class="admin-newsand-updates-light-frame1">
            </div>
            <div class="admin-newsand-updates-light-text">
                <span>SRDP ADMIN</span>
            </div>
            <div class="admin-newsand-updates-light-text02">
                <span>srdp.admin@srdp.com</span>
            </div>
            <div class="ellipse"></div>
        </div>
    </div>
</body>
</html>